@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@500&family=Rubik&family=Russo+One&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

.pageWrapper {
  padding: 20px;
}

.headerCustom {
  margin-bottom: 30px;
}

.section-h3 {
  font-family: "Russo One", sans-serif;
}

/* NAV */

.img-logo {
  height: 80px;
}

.navCustom {
  background-color: #ea6e3a;
  padding: 15px;
}

.nav-item {
  margin: 5px;
  background-color: #fbf2b3;
  border-radius: 5px;
}

.nav-item:hover {
  background-color: #6a5f64;
  border-radius: 5px;
  margin: 5px;
}

.nav-link,
.dropdown-menuCustom {
  color: black;
  font-family: "Russo One", sans-serif;
}

.nav-link:visited {
  color: black;
  font-family: "Russo One", sans-serif;
}

.nav-link:hover {
  color: #fbf2b3;
}

.dropdown-menuCustom:visited {
  color: #6a5f64;
}

.dropdown-menuCustom:hover {
  color: #6a5f64;
}

.dropdown-toggleCustom:visited {
  border: 2px solid #6a5f64;
  background-color: #6a5f64 !important;
  color: black;
}

.dropdown-toggleCustom:hover {
  border: 2px solid #6a5f64;
  background-color: #6a5f64;
  color: #fbf2b3;
}

.dropdown-item:hover {
  background-color: #6a5f64;
  color: white;
  font-family: "Russo One", sans-serif;
}

.dropdown-menu {
  background-color: #fbf2b3;
}

/* END NAV */

/* Jumbotron */

.jumbotron {
  margin-bottom: 30px;
}

.jumboPic {
  max-height: 310px;
  padding-bottom: 10px;
}

#about_me {
  padding: 0 20px;
}

.textMarks {
  background-color: #e86b43;
  color: #fbf2b3;
  border-radius: 7px;
  padding: 1.5px 4px;
}

.jumbo-h3 {
  font-family: "Russo One", sans-serif;
}

.jumbo-p {
  width: 100%;
  text-align: justify;
}
/* END Jumbotron */

/* skills */

.buttonsContainer button {
  margin: 3px;
}

.btn-light-withBorder {
  border: solid black 1px;
}

/* END skills */

/* Portfolio */

.topPortfolioRow, .col-relative-app {
  position: relative;
}

.app-main,
.portfolio-app-small {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 250px;
}

.app-main {
  background-image: url(/images/Screenshot\ 2023-12-03\ at\ 15.39.30.png);
}

.app-02 {
  background-image: url(/images/Screenshot\ 2023-12-02\ at\ 03.03.22.png);
}

.app-03 {
  background-image: url(/images/Screenshot\ 2023-12-02\ at\ 03.01.20.png);
}

.app-04 {
  background-image: url(/images/Screenshot\ 2023-12-01\ at\ 19.09.10.png);
}

.app-05 {
  background-image: url(/images/Screenshot\ 2023-11-30\ at\ 16.58.03.png);
}

.app-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; 
  width: 100%;
}

/* END Portfolio */

/* CV-download */

.cv-download {
  background-color: #e86b43;
}
