@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@500&family=Rubik&family=Russo+One&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

.headerCustom {
  margin-bottom: 30px;
}

/* NAV */

.img-logo {
  height: 80px;
}

.navCustom {
  background-color: #ea6e3a;
  padding: 15px;
}

.nav-item {
  margin: 5px;
  background-color: #FBF2B3;
  border-radius: 5px;
}

.nav-item:hover {
  background-color: #6a5f64;
  border-radius: 5px;
  margin: 5px;
}

.nav-link,
.dropdown-menuCustom {
  color: black;
  font-family: "Russo One", sans-serif;
}

.nav-link:visited {
  color: black;
  font-family: "Russo One", sans-serif;
}

.nav-link:hover {
  color: #FBF2B3;
}

.dropdown-menuCustom:visited {
  color: #6a5f64; 
}

.dropdown-menuCustom:hover {
  color: #6a5f64;
 
}

.dropdown-toggleCustom:visited {
  border: 2px solid #6a5f64;
  background-color: #6a5f64 !important;
  color:black;
}

.dropdown-toggleCustom:hover {
  border: 2px solid #6a5f64;
  background-color: #6a5f64 ;
  color: #FBF2B3;;
}

.dropdown-item:hover {
  background-color: #6a5f64;
  color:white;
  font-family: "Russo One", sans-serif;
}

.dropdown-menu {
  background-color: #FBF2B3;
}

/* END NAV */

/* Jumbotron */

.jumbotron {
  margin-bottom: 30px;
}

.jumboPic {
  max-height: 310px;
  padding-bottom: 10px;
}

#about_me {
  padding: 0 20px;
}

.textMarks {
  background-color: #e86b43;
  color: #FBF2B3;
  border-radius: 7px;
  padding: 1.5px 4px;
}

.jumbo-h3 {
  font-family: "Russo One", sans-serif;
}

/* CARDS */

.card h3 {
  color: #e86b43;
  font-weight: bolder;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card {
  border-radius: 5%;
}

/* CV-download */

.cv-download {
  background-color: #e86b43;
}
